<app-navbar> </app-navbar>

<section class="mt-16">
  <app-hero-section></app-hero-section>

  <section class="my-4">
    <div
      class="gap-16 items-center py-8 px-8 mx-auto max-w-screen-lg sm:grid sm:grid-cols-2 sm:py-16"
    >
      <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">
          Як збільшення кількості парків може перетворити ваше місто?
        </h2>
        <p class="mb-4">
          Життя в місті може бути незабутнім, коли у нас є простір для
          відпочинку, зустрічей з друзями та насолоди природою. Розширення
          кількості парків у нашому місті створює не тільки прекрасні зелені
          оази, але й місця для релаксу, активного відпочинку та спілкування.
          Кожен новий парк - це можливість зберегти і приблизити природу до нас,
          покращити якість повітря та навколишню атмосферу.
        </p>
        <p>
          Давайте разом додамо кольору нашому місту, збільшимо кількість парків
          та створимо простір, який надихає і дарує радість кожному жителю.
          Збережемо і примножимо наші парки - найцінніше спадщина для сьогодення
          та майбутніх поколінь.
        </p>
      </div>
      <div class="grid grid-cols-2 gap-4 mt-8">
        <img
          class="w-full rounded-lg"
          src="https://res.cloudinary.com/dykctctkb/image/upload/v1684624067/playground_nejvzr.jpg"
          alt="office content 1"
        />
        <img
          class="mt-4 w-full lg:mt-10 rounded-lg"
          src="https://res.cloudinary.com/dykctctkb/image/upload/v1684624060/atidarytas-antrasis-verslo-centro-park-town-pastatas-darnu-group-nuotr-82419087_b4phxx.jpg"
          alt="office content 2"
        />
      </div>
    </div>
  </section>

  <section id="google-map" class="max-w-screen-lg mt-4 mx-auto">
    <nb-card>
      <div class="px-4 pt-4">
        <div class="flex justify-between items-center">
          <h1 class="text-3xl font-extrabold text-gray-700">
            Мапа доступних ділянок
          </h1>
        </div>
        <p class="mt-1 text-md font-light text-gray-500">
          Видберіть ділянку яка вам подобається і натисніть посадити дерево
        </p>
      </div>

      <div class="rounded overflow-hidden m-4">
        <app-google-map
          [options]="mapsOptions"
          [markerInfoWindowTemplate]="markerInfoWindowTemplate"
        >
        </app-google-map>
      </div>
    </nb-card>
  </section>

  <app-feature-section id="FAQ" class="my-4"></app-feature-section>

  <ng-template #markerInfoWindowTemplate let-selectedMarker>
    <form
      class="flex flex-col p-2 gap-2 max-w-xs"
      [formGroup]="markerForm"
      novalidate
    >
      <h1 class="text-lg">{{ selectedMarker?.label?.text }}</h1>
      <span>{{ selectedMarker?.description }}</span>
      <app-select
        placeholder="Продукти"
        formControlName="orderType"
        label="Тип вконання замовлення"
        [selectOptions]="orderTypeOptions"
      >
      </app-select>
      <app-button
        label="Продовжити"
        size="small"
        (onClick)="catalogRedirection(selectedMarker)"
      >
      </app-button>
    </form>
  </ng-template>
</section>

<app-footer />
