<div class="block">
  <form [formGroup]="markerForm" novalidate>
    <div class="md:flex flex-row md:space-x-4 w-full text-xs pt-2 px-4">
      <div class="mb-3 space-y-2 w-full text-sm">
        <app-form-input
          type="number"
          placeholder="lat"
          formControlName="lat"
          label="lat"
          [disabled]="true"
        >
        </app-form-input>
      </div>

      <div class="mb-3 space-y-2 w-full text-sm">
        <app-form-input
          type="number"
          placeholder="lng"
          formControlName="lng"
          label="lng"
          [disabled]="true"
        >
        </app-form-input>
      </div>
    </div>
    <div class="md:flex flex-row md:space-x-4 w-full text-xs pb-2 px-4">
      <app-checkbox formControlName="hidden" label="Hidden"> </app-checkbox>
    </div>
    <div class="m-3 text-right md:space-x-3 flex flex-col-reverse">
      <span>
        <app-button
          label="Save"
          [size]="'medium'"
          (onClick)="submit()"
        ></app-button>
      </span>
    </div>
  </form>
</div>
