<div class="block">
  <form [formGroup]="markerForm" novalidate>
    <div class="md:flex flex-col w-full text-xs pt-2 px-4">
      <div class="mb-3 w-full text-sm">
        <app-form-input
          type="text"
          placeholder="Новий сад"
          formControlName="name"
          label="Назва ділянки"
        >
        </app-form-input>
      </div>
      <div class="mb-3 w-full text-sm">
        <app-form-input
          type="text"
          placeholder="Опис"
          formControlName="description"
          label="Опис ділянки"
        >
        </app-form-input>
      </div>
      <div class="mb-3 w-full text-sm">
        <app-select
          placeholder="Продукти"
          formControlName="productIds"
          label="Доступні продукти"
          [multiple]="true"
          [selectOptions]="productsOptions"
        >
        </app-select>
      </div>
    </div>
    <div class="md:flex flex-row md:space-x-4 w-full text-xs pb-2 px-4">
      <app-checkbox formControlName="hidden" label="Hidden"> </app-checkbox>
    </div>
    <div class="button-container">
      <app-button
        label="Скасувати"
        buttonStatus="control"
        [size]="'medium'"
        (onClick)="closeModal()"
      ></app-button>

      <app-button
        label="Save"
        [size]="'medium'"
        [disabled]="markerForm.invalid"
        (onClick)="submit()"
      ></app-button>
    </div>
  </form>
</div>
