<div>
  <label
    class="input-label"
    [ngClass]="{ invalid: isShowError }"
    for="{{ label }}"
    >{{ label }}<abbr title="required">*</abbr></label
  >
  <input
    id="{{ label }}"
    type="{{ type }}"
    nbInput
    fullWidth
    shape="rectangle"
    placeholder="{{ placeholder }}"
    [(ngModel)]="value"
    disabled="{{ disabled }}"
    [status]="isShowError ? 'danger' : status"
    required
  />
  <p *ngIf="isShowError" class="text-red-500 text-xs">
    {{ getError }}
  </p>
</div>
