<google-map
  class="google-map"
  height="500px"
  width="100%"
  [center]="center"
  [options]="options"
  (mapDblclick)="mapType === mapTypeEnum.Admin ? addMarker($event) : null"
>
  <map-marker
    #someMarker="mapMarker"
    *ngFor="let marker of markers"
    [position]="marker.position"
    [label]="marker.label"
    [title]="marker.title"
    [options]="marker.options"
    (mapClick)="openInfo(someMarker, marker)"
  >
  </map-marker>

  <map-info-window>
    <ng-container
      *ngTemplateOutlet="markerInfoWindowTemplate; context: selectedMarker"
    ></ng-container>
  </map-info-window>
</google-map>
