<app-navbar></app-navbar>

<section class="thank-you-page-layout">
  <div
    class="container flex flex-col items-center justify-center px-5 mx-auto my-8"
  >
    <div class="max-w-5xl">
      <h2 class="mb-2 font-extrabold text-center text-3xl dark:text-gray-600">
        Створено заволення #{{ orderNumber }}
      </h2>
      <p class="text-base text-center mb-6 max-w-4xl">
        Дякуємо за те, що ви долучилися до озеленення міста та допомогли
        зберегти нашу планету! Ваш внесок є надзвичайно важливим для нашої
        спільної мети створення здорового та зеленого середовища для всіх нас.
      </p>

      <div class="flex flex-col md:flex-row gap-6 justify-center">
        <img
          class="h-40 md:h-80 md:block hidden"
          alt="undraw_completing_re_i7ap"
          src="assets/completing/undraw_completing_re_i7ap.svg"
        />
        <div>
          <section class="mt-2">
            <ng-container *ngFor="let product of orderDetails?.items">
              <app-order-details-product [product]="product">
              </app-order-details-product>
            </ng-container>
          </section>

          <app-button
            class="w-full"
            [iconOnStart]="false"
            iconStatus="basic"
            size="medium"
            label="Назад на головну"
            (onClick)="navigateToHome()"
          ></app-button>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</section>
