<section class="m-4">
  <app-data-table
    [tableType]="tableTypeEnum.Products"
    [dataSource]="orders"
    [columns]="tableColumns"
    [buttonsTemplate]="buttonsTemplate"
  >
  </app-data-table>
</section>

<ng-template #buttonsTemplate let-selectedOrderData="data">
  <div class="button-container">
    <app-button
      icon="edit-2-outline"
      iconStatus="info"
      size="medium"
      (onClick)="updatedSelectedOrder(selectedOrderData)"
    ></app-button>
    <app-button
      icon="shopping-cart-outline"
      size="medium"
      buttonStatus="danger"
      iconStatus="basic"
      (onClick)="openOrderItemDialog(selectedOrderData)"
    />
  </div>
</ng-template>
