<section class="mx-4 mt-4">
  <nb-card>
    <div class="flex justify-between items-center p-4">
      <h1 class="text-3xl font-medium text-gray-700">Замовлення</h1>
    </div>
  </nb-card>
  <app-data-table
    [tableType]="tableTypeEnum.Products"
    [dataSource]="orders"
    [columns]="tableColumns"
    [buttonsTemplate]="buttonsTemplate"
  >
  </app-data-table>
</section>

<ng-template #buttonsTemplate let-selectedOrderData="data">
  <div class="button-container">
    <app-button
      icon="edit-2-outline"
      buttonStatus="info"
      iconStatus="basic"
      size="medium"
      (onClick)="updatedSelectedOrder(selectedOrderData)"
    ></app-button>
    <app-button
      icon="shopping-bag-outline"
      size="medium"
      buttonStatus="warning"
      iconStatus="basic"
      (onClick)="openOrderItemDialog(selectedOrderData)"
    />
  </div>
</ng-template>
