<section>
  <div
    class="grid max-w-screen-lg px-8 pt-8 mx-auto sm:gap-8 xl:gap-0 sm:pt-16 sm:grid-cols-12"
  >
    <div class="mr-auto place-self-center sm:col-span-7">
      <h1
        class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-black"
      >
        Внесок в майбутнє сьогодні
      </h1>
      <p
        class="max-w-2xl font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400"
      >
        Кожне дерево, що висаджене сьогодні, стає живим свідченням нашої
        прихильності до збереження природи і зеленого майбутнього. Це символ
        нашої відповідальності.
      </p>
      <div class="w-full mt-8">
        <app-button
          class="block w-full sm:w-2/5"
          iconStatus="basic"
          size="medium"
          label="Посадити дерево"
          (onClick)="router.navigate([], { fragment: 'google-map' })"
        >
        </app-button>
      </div>
    </div>
    <div class="hidden sm:mt-0 sm:col-span-5 sm:flex">
      <img
        class="hero-image"
        src="assets/completing/ba2f041d-f97e-4fd3-9f0a-148a0125407b.png"
        alt="mockup"
      />
    </div>
  </div>
</section>
