<footer class="p-4 bg-primary-700 md:p-8 lg:p-10">
  <div class="mx-auto max-w-screen-xl text-center">
    <a href="/" class="flex justify-center items-center text-2xl font-semibold">
      <img
        src="assets/logo/Floresta_logo_white.png"
        class="mr-3 h-10"
        alt="Floresta Logo"
      />
    </a>

    <p class="mt-6 mb-3 text-gray-300">
      Ваш онлайн помічник для посадки дерев. Разом ми зберігаємо природу та
      творимо зеленіше майбутнє!
    </p>
    <div
      class="flex flex-wrap flex-col justify-center items-center mb-6 text-white gap-1"
    >
      <p class="text-white">З'явились питання? Зв'яжіться з нами!</p>
      <p class="text-white">
        Контактні дані: Номер телефону +380962378232 або Емаіл:
        floresta@gmail.com
      </p>
    </div>
    <span class="text-sm sm:text-center text-white"
      >© 2021-2023 <a href="#" class="hover:underline">Floresta™</a>. Всі права
      Зарезервований.</span
    >
  </div>
</footer>
