<div class="p-8">
  <h1 class="text-4xl font-medium text-gray-700 text-center mt-6">
    Як ми парцюємо?
  </h1>
  <p class="text-center mt-6 text-lg font-light text-gray-500">
    Зробімо місто зеленим разом - створімо затишок та здорове повітря навколо
    нас
  </p>
</div>
<div class="grid grid-cols-1 md:grid-cols-3">
  <div class="p-8">
    <div
      class="bg-indigo-100 rounded-full w-16 h-16 flex justify-center items-center text-indigo-500 shadow-2xl mx-auto"
    >
      <nb-icon class="h-7 w-7" icon="map-outline"></nb-icon>
    </div>
    <h2 class="feature-title text-indigo-500">Ви вибираєте одну точку</h2>
    <p class="feature-description">
      На карті показано точки де можна висаджувати дерева у вашому місті
    </p>
  </div>
  <div class="p-8">
    <div
      class="bg-green-100 rounded-full w-16 h-16 flex justify-center items-center text-green-500 shadow-2xl mx-auto"
    >
      <nb-icon class="h-7 w-7" icon="loader-outline"></nb-icon>
    </div>
    <h2 class="feature-title text-green-500">Вибираєте садженеці</h2>
    <p class="feature-description">
      На ваш вибір буде показаний багато видів садженців які ви зможете вибрати
      для посадки
    </p>
  </div>
  <div class="p-8">
    <div
      class="bg-red-100 rounded-full w-16 h-16 flex justify-center items-center text-red-500 shadow-2xl mx-auto"
    >
      <nb-icon class="h-7 w-7" icon="car-outline"></nb-icon>
    </div>
    <h2 class="feature-title text-red-500">Заповнюєте форму опалати</h2>
    <p class="feature-description">
      Заповнюєте форму оплати. PS: Якшо хочете посадити дерево анонімно, ви
      можеш вказати це у формі
    </p>
  </div>
</div>
