<section class="mx-4 mt-4">
  <nb-card>
    <div class="p-4">
      <div class="flex justify-between items-center">
        <h1 class="text-3xl font-medium text-gray-700">Мапа ділянок</h1>
      </div>
      <p class="mt-1 text-md font-light text-gray-500">
        Натисніть два рази по екрані, щоб створити нову ділянку
      </p>
    </div>
  </nb-card>
  <nb-card>
    <div class="rounded overflow-hidden m-4">
      <app-google-map
        [options]="mapsOptions"
        [mapType]="mapTypeEnum.Admin"
        [markerInfoWindowTemplate]="markerInfoWindowTemplate"
      ></app-google-map>
    </div>
  </nb-card>
</section>
<ng-template #markerInfoWindowTemplate let-selectedMarker>
  <div class="flex flex-col p-2 gap-2 max-w-xs">
    <h1 class="text-lg">{{ selectedMarker?.label?.text }}</h1>
    <span>{{ selectedMarker?.description }}</span>

    <div class="flex p-2 gap-x-2 justify-center">
      <app-button
        [icon]="selectedMarker?.hidden ? 'eye-outline' : 'eye-off-outline'"
        size="medium"
        buttonStatus="warning"
        iconStatus="basic"
        (onClick)="updateMapMarkerVisibility(selectedMarker)"
      />
      <app-button
        icon="edit-2-outline"
        size="medium"
        buttonStatus="info"
        iconStatus="basic"
        (onClick)="editMarker(selectedMarker)"
      />
      <app-button
        icon="trash-outline"
        size="medium"
        buttonStatus="danger"
        iconStatus="basic"
        (onClick)="deleteMapMarker(selectedMarker)"
      />
    </div>
  </div>
</ng-template>
