:host ::ng-deep {
  .floresta-button.appearance-ghost.icon-start.icon-end {
    @apply p-1;
    nb-icon {
      @apply h-7 w-7 text-gray-500;
    }
  }

  .floresta-button.flex-row-reverse {
    nb-icon {
      margin-right: 0 !important;
      margin-left: 0.5rem;
    }
  }

  nb-icon.status-basic {
    color: #eeeeee;
  }

  .floresta-button.icon-start.status-primary.icon-end {
    &:hover {
      nb-icon {
        @apply text-primary-700;
      }
    }
  }
}
