@forward '@nebular/theme/styles/theming';
@use '@nebular/theme/styles/theming' as *;
@use '@nebular/theme/styles/themes/default';
@import './consts.scss';
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

$nb-themes: nb-register-theme(
  (
    color-primary-focus: #007242,
    color-primary-focus-border: #007242,
    color-primary-300: $band-main,
    button-filled-primary-background-color: $band-main,
    button-filled-primary-border-color: $band-main,
    button-filled-primary-hover-background-color: #007e4a,
    button-filled-primary-hover-border-color: #007e4a,
    button-filled-primary-active-background-color: #007242,
    button-filled-primary-active-border-color: #007242,
    layout-padding: 0px,
    layout-medium-padding: 0px,
    layout-small-padding: 0px,
    menu-item-hover-text-color: #007242,
    menu-item-active-text-color: #007242,
    button-filled-text-transform: none,
    card-margin-bottom: 1.25rem,
    checkbox-basic-checked-background-color: $band-main,
    checkbox-basic-checked-border-color: $band-main,
    checkbox-basic-hover-checked-background-color: #007242,
    checkbox-basic-hover-checked-border-color: #007242,
    select-medium-max-width: 100%,
    font-family-primary: 'Nunito',
  ),
  corporateTheme,
  default
);
