<section class="mx-4 mt-4">
  <nb-card>
    <div class="flex justify-between items-center p-4">
      <h1 class="text-3xl font-medium text-gray-700">Користувачі</h1>
    </div>
  </nb-card>
  <app-data-table
    [tableType]="tableTypeEnum.Users"
    [dataSource]="users"
    [columns]="tableColumns"
    [buttonsTemplate]="buttonsTemplate"
  >
  </app-data-table>
</section>

<ng-template #buttonsTemplate let-selectedUserData="data">
  <div class="button-container">
    <app-button
      icon="edit-2-outline"
      buttonStatus="info"
      iconStatus="basic"
      size="medium"
      (onClick)="updatedSelectedUser(selectedUserData)"
    ></app-button>
    <app-button
      icon="shopping-cart-outline"
      size="medium"
      buttonStatus="danger"
      iconStatus="basic"
      (onClick)="cleanUserCart(selectedUserData)"
    />
    <app-button
      icon="trash-2-outline"
      buttonStatus="danger"
      iconStatus="basic"
      size="medium"
      (onClick)="deleteSelectedUser(selectedUserData)"
    ></app-button>
  </div>
</ng-template>
