<section class="m-4">
  <app-data-table
    [tableType]="tableTypeEnum.Users"
    [dataSource]="users"
    [columns]="tableColumns"
    [buttonsTemplate]="buttonsTemplate"
  >
  </app-data-table>
</section>

<ng-template #buttonsTemplate let-selectedUserData="data">
  <app-button
    icon="edit-2-outline"
    iconStatus="info"
    size="medium"
    [isGhost]="true"
    (onClick)="updatedSelectedUser(selectedUserData)"
  ></app-button>
  <app-button
    icon="trash-2-outline"
    iconStatus="info"
    size="medium"
    [isGhost]="true"
    (onClick)="deleteSelectedUser(selectedUserData)"
  ></app-button>
  <app-button
    icon="shopping-cart-outline"
    size="medium"
    buttonStatus="danger"
    iconStatus="basic"
    [isGhost]="true"
    (onClick)="cleanUserCart(selectedUserData)"
  />
</ng-template>
