<div class="block">
  <form [formGroup]="userForm" novalidate>
    <section class="food-form-body">
      <div class="mb-3 space-y-2 w-full text-sm">
        <app-form-input
          type="text"
          placeholder="email"
          formControlName="email"
          label="Email"
        >
        </app-form-input>
      </div>
      <div class="mb-3 space-y-2 w-full text-sm">
        <app-form-input
          type="text"
          placeholder="name"
          formControlName="name"
          label="Name"
        >
        </app-form-input>
      </div>

      <div class="mb-3 space-y-2 w-full text-sm">
        <app-select
          placeholder="role"
          formControlName="role"
          label="Roles"
          [selectOptions]="userRolesOptions"
        >
        </app-select>
      </div>
    </section>

    <div class="m-3 text-right md:space-x-3 flex flex-col-reverse">
      <span>
        <app-button
          label="Зберегти"
          [size]="'medium'"
          (onClick)="submit()"
        ></app-button>
      </span>
    </div>
  </form>
</div>
