<aside
  class="flex flex-col w-64 h-screen px-5 py-8 overflow-y-auto bg-white border-r rtl:border-r-0 rtl:border-l dark:bg-gray-900 dark:border-gray-700"
>
  <a href="/" class="flex items-center">
    <img
      src="assets/logo/Floresta_logo_white.png"
      class="mr-3 h-10"
      alt="Floresta Logo"
    />
  </a>

  <div class="flex flex-col justify-between flex-1 mt-6">
    <nav class="-mx-3 space-y-6">
      <div class="space-y-3">
        <app-button
          buttonStatus="control"
          size="medium"
          label="Повернутись на головну"
          (onClick)="backToHomePage()"
        >
        </app-button>
        <nb-card>
          <nb-menu [items]="sideBarItems"> </nb-menu>
        </nb-card>
      </div>
    </nav>
  </div>
</aside>
